/* main styling */
body {
	overflow-x: hidden; 
}
.flt-r{
	float:right;
}
.flt-l{
	float:left;
}
.project-article{
	padding: 20px 0 20px 0;
	border-bottom: 2px solid #888;
}
.a-blue{
	color:#00AEEF;
}
/*closed*/
.toggle-nav {
	position: fixed;
	width: 48px;
	height: 48px;
	background: rgba(0,0,0, 0.2);
	top: 1%;
	left: 1%;
	color: #FFF;
	border: none;
	border-radius: 3px;
	font-size: 1.5em;
	z-index: 9;
	outline: none;
}
.toggle-nav:hover {
	background: #444;
}
.toggle-nav:active {
	background: #555;
}
aside {
	position: fixed;
	width: 0;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #333;
	border-right: 2px solid #00AEEF;
}
nav {
	width: 100%;
}
nav ul {
	list-style: none;
}
nav li{
	height:40px;
	margin:10px 0px 0px 0px;
	background-color: #00AEEF;
}
nav li:first-child{
	margin:100px 0 0 0;
}
nav span{
	font-family: 'Lato', sans-serif;
}
nav a,
nav a:active,
nav a:visited {
	color: #FFF;
	font-size: 1.8em;
	font-family: 'Lato', sans-serif;
	padding:0 0 0 10px;
	text-decoration: none;
	-webkit-transition-property: color, background, opacity, left, right;
	-webkit-transition-duration: 0.3s, 0.3s, 0.3s;
	-webkit-transition-timing-function: ease-out, ease-out;
	-moz-transition-property: color, background, opacity, left, right;
	-moz-transition-duration: 0.3s, 0.3s, 0.3s;
	-moz-transition-timing-function: ease-out, ease-out;
	transition-property: color, background, opacity, left, right;
	transition-duration: 0.3s, 0.3s, 0.3s;
	transition-timing-function: ease-out, ease-out;
}
nav a:hover{
	color:#888;
	text-decoration: none;
}
.main {
	position: relative;
	background: #FFF;
	left: 0;
	width: 100%;
}
.video-background {
	position: relative;
}
.video-background > video {
 	height: 100%;
 	width: 100%;
 	display: block;
}
.video-pattern {
	height: 100%;
	width: 100%;
	position:absolute;
	top: 0;
	background:url(../img/pattern.png);
	background-repeat: repeat; 
	opacity: 0.5;
}
.video-text {
	position: absolute;
	right: 1%;
	top: 2%;
	text-align: right;
	color: white;
}
.video-text h1 {
	margin: 0;
}
.video-border{
	width:100%;
	height:10px;
	background:url(../img/pattern_background_bottom_t.png);
	background-repeat:repeat-x;
}
.video-button{
	position:absolute;
	bottom:10%;
	left:50%;
	margin-left:-220px;
	width:440px;
}
.video-button a:hover{
	border-radius: 0px;
	color:white;
}
.video-button a i{
	padding-right:10px;
}
.buttonbox{
	position: relative;
	margin:10px;
	width:200px;
	height:60px;
	border: 2px solid #fff;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.8em;
	color: white;
	padding: 12px 10px 12px 10px;
	border-radius: 20px;
	text-align: center;
	-webkit-transition: border-radius 0.3s;
	-moz-transition: border-radius 0.3s;
	-o-transition: border-radius 0.3s;
	transition: border-radius 0.3s;
}
h1,h2,h3,h4,h5{
	color:#FFF;
	font-family:'Lato', sans-serif;
}
h1{font-size:500%;}
h2{font-size:300%;}
h3{font-size:200%;}
h4{font-size:100%;}
h5{font-size:70%;}
.timeline{
	padding:0;
}
.timeline li{
	list-style: none;
	margin: 20px 0 20px 0;
}
.timeline-bar{
	position: absolute;
	top: 0;
	width: 5px;
	height: 100%;
	background: red;
	z-index: 2;
}
.timeline-icon{
	margin-left:50%;
	padding-left:11px;
	z-index:4;
}
/* Gallery*/

.scroll-pane { overflow: auto; width: 100%; float:left; margin-bottom: 10px; }
.scroll-content { width: 3778px; float: left; }
.scroll-content-item {  height: 300px; float: left; margin: 10px; font-size: 3em; line-height: 96px; text-align: center; list-style: none;}
.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:0.5em !important; height: 1.5em; }
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }
.scroll-content-item img{border: 1.5px solid #838383; border-radius: 8px;}
.ui-widget-content{border:none; background-color: #999; background-image: none; height: 14px; border-radius: 8px;}
.scroll-bar-wrap .ui-slider-handle {top:0px !important; height:14px; border: 1px solid #666;border-radius: 8px;}
.ui-widget-header{background:#7E7171 url(../img/pattern.png)}

.col-md-12 h2{
	color:#00AEEF;
	text-shadow: 0 0 0;
}
.col-md-12 h3{
	color:#00AEEF;
	text-shadow: 0 0 0;
}
.socialized{
	width:56px;
	height:100%;
	float:right;
	margin-right:20px;
}
.socialized img{
	width:50px;
}
.socialized img:hover{
	width:56px;
}
.socialized img:active{
	width:56px;
	border:1px solid #666;
}
.socialized:first-child{
	margin-right:0;
}
.socialized-nav{
	float:left;
}
.socialized-nav img{
	width:30%;
}
.footer{
	border-top:2px solid #222;
	margin-top: 50px;
	height:100px;
	bottom: 0;
	position: relative;
	background: url(../img/pattern.png);
	background-repeat: repeat;
	background-color: #333;
}
.footer p{
	margin-bottom: 0px;
	padding-top: 40px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color:white;
	vertical-align:middle;
	font-size:1.2em; 
}
/*Bootstrap changes*/
.carousel-indicators li{
	border-color: #fff;
	background-color: rgba(0, 0, 0, 0.25);
}
.carousel-indicators .active{
	background-color: #00AEEF;
}
.carousel-inner{
	border-radius: 10px;
}
@media only screen and (max-width: 780px){
	h1{font-size:300%;}
	h2{font-size:150%;}
	h3{font-size:100%;}
	h4{font-size:80%;}
	h5{font-size:40%;}

	nav a,
	nav a:hover,
	nav a:visited{
		font-size: 1.2em;
	}
	nav li{
	height:30px;
	margin:10px 0px 0px 0px;
	background-color: #00AEEF;
	}
	nav li:first-child{
		margin:20px 0 0 0;
	}
}
@media only screen and (max-width: 480px){
	h1{font-size:150%;margin:0;}
	h2{font-size:100%;margin:0;}
	h3{font-size:90%;margin:0;}
	h4{font-size:80%;margin:0;}
	h5{font-size:40%;margin:0;}

	nav a,
	nav a:hover,
	nav a:visited{
		font-size: 1.2em;
	}
	nav li{
	height:30px;
	margin:10px 0px 0px 0px;
	background-color: #00AEEF;
	}
	nav li:first-child{
		margin:20px 0 0 0;
	}
}